:root[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #4100e6;
    --border-color: #e0e0e0;
    --link-color: #0000EE;
    --hover-background-color: #f5f5f5;
    --button-background-color: #000000;
    --button-text-color: #ffffff;
    --button-hover-background-color: #333333;
    --proj-background: linear-gradient(135deg, #e0e6d9 10%, #422e6e 100%);
}

:root[data-theme="dark"] {
   
    --background-color: #121212;
    --text-color: #ffffff;
    --accent-color: #e0e6d9;
    --border-color: #333333;
    --link-color: #9DACFF;
    --hover-background-color: #2a2a2a;
    --button-background-color: #ffffff;
    --button-text-color: #000000;
    --button-hover-background-color: #555555;
    --proj-background: linear-gradient(135deg, #3c08b6 10%, #e0e6d9 100%);
}

#logo {
    font-size: 28px;
    color: #4100e6;
    font-weight: bold;
    letter-spacing: 10px; 
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 20px;
    transition: transform 0.2s ease; 
}

#logo:hover {
    transform: scale(1.1); /* Enlarge slightly on hover */
    
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}


.sidebar {
display: flex;
flex-direction: column;
align-items: center; /* Center sidebar content horizontally */
justify-content: center; /* Center sidebar content vertically */
padding: 20px;
width: 100%; 
max-width: 700px; 
}

header, nav {
display: fixed;
padding: 0px;
margin: 20px; /* Reset margins and paddings */
}

.fit-picture, .text-box {
width: 400px; 
margin-bottom: 20px; 
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    width: 100%; /* Use full width for smaller screens, adjust as needed */
    max-width: 800px; 
}



.text-box {
    text-align: center;
    color: var(--text-color);
}

/* styling for interactive elements like nav links */
nav a {
    float: left;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px; 
}

nav a:hover {

    transform: scale(1.06);
    font-weight: bold;
    
}

.fit-picture {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border: 0px solid transparent; 
    cursor: crosshair;
  }

  .fit-picture:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); 
    border: 0px solid #fff; 
    cursor: crosshair;
}

nav, .container::after, .proj, .card {
    border-color: var(--border-color);
}

nav a, header a {
    color: var(--link-color);
    text-decoration: none;
}


form {
    background-color: rgb(242, 242, 242);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

input[type="email"], input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; 
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #000000;
}

textarea {
    height: 100px;
    resize: vertical; /* Allows the user to resize the textarea vertically */
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 816px;
    width: calc(100% - 20px)
}


.proj {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.1);  */
    height: 260px;
    width: 300px;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    overflow: hidden; 
    cursor: url(../images/cursor.png); /* Change to cursor: url('path/to/circle-cursor.png'), auto; if you have a custom circle cursor */
    background-image: linear-gradient(135deg, #e0e6d9 10%, #422e6e 100%); /* Example gradient */
    transition: background-image 0.5s ease-in-out, transform 0.3s ease-in-out; 
}

.proj:hover {
    background-image: linear-gradient(135deg, #e0e6d9 10%, #3c08b6 100%);
    transform: scale(1.05); /* Slightly enlarges the div */
}


.proj h4 {
    margin-top: 0; 
}

.proj p {
    margin-bottom: 0; 
}


.card::before {
    background: radial-gradient(800px circle at 100px 100px, rgba(255, 255, 255, 0.06));
    border-radius: inherit;
    content: "";
    position: absolute;
    height: 100;
    left: 0px;
    width: 100;
    top: 0px;
    position: relative;
    z-index: 2;


}


.responsive-image-1 {
    width: 100%; 
    max-width: 900px; 
    height: auto; 
}

mark { 
    background-color: green;
    color: white;
  }

  /* Timeline for CV */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.containerss {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 70%;
}
/* Containers around each timeline item */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 70%;
}

/* The lines */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    background-color: rgb(85, 9, 227);
    top: 15px;
    bottom: 15px;
    left: 15px;
    border-radius: 20px;
}

/* Left containers */
.left {
    left: 0;
}

/* Right containers */
.right {
    left: 50%;
}

/* The actual content */
.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
}

.year {

    color:#3c08b6;
    position: relative;
    border-radius: 1px;
    font-size: 16px;

}


@media screen and (max-width: 600px) {

  .timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  

  .timeline .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left {
    left: 0%;
  }


  .right {
    left: 0%;
  }
}
